name: Weekly flake maintenance

on:
  schedule:
    - cron: "0 11 * * 1" # weekly at 14:00 UTC
  workflow_dispatch:

jobs:
  update-lock-file:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "chore: update flake.lock"
          commit-msg: "chore: update flake.lock"
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          nix-options: --offline
